/* =======================
     * CONFIG GLOBALS *
========================*/

// Typography
//
// 1. Remove top margins from headings
//    By default, `<h1>`-`<h6>` all receive top and bottom margins. We nuke the top
//    margin for easier control within type scales as it avoids margin collapsing.

%heading {
    margin-top: 0; // 1
    margin-bottom: $headings-margin-bottom;
    font-family: $headings-font-family;
    font-style: $headings-font-style;
    line-height: $headings-line-height;
    color: $headings-color;
  }
  
  h1 {
    @extend %heading;
    @include font-size($h1-font-size);
  }
  
  h2 {
    @extend %heading;
    @include font-size($h2-font-size);
  }
  
  h3 {
    @extend %heading;
    @include font-size($h3-font-size);
  }
  
  h4 {
    @extend %heading;
    @include font-size($h4-font-size);
  }
  
  h5 {
    @extend %heading;
    @include font-size($h5-font-size);
  }
  
  h6 {
    @extend %heading;
    @include font-size($h6-font-size);
  }
  
  // Type display classes
  @each $display, $font-size in $display-font-sizes {
    .tl-display-#{$display} {
      @include font-size($font-size);
      font-family: $display-font-family;
      font-style: $display-font-style;
      font-weight: $display-font-weight;
      line-height: $display-line-height;
    }
  }
  
  
  form input {
    padding: 10px 15px;
    border-radius: 2px;
    color: rgba(0, 0, 0, 0.6);
    background-color: #ffffff;
    width: 100%;
    margin: 8px 0px;
    outline: none;
    font-size: 20px;
    
    &:disabled{
      &::placeholder{
        color: $form-disabled-color;
      }
    }
  }

  a,
  select,
  input[type="submit"],
  input[type="reset"],
  button {
    &:disabled {
      opacity: 0.25;
      cursor: not-allowed !important;
      pointer-events: none;
    }
  }